@model BookDetailsViewModel
@{
    ViewData["Title"] = Model.BookTitle;
    var book = Model;
}

<div class="d-flex">

    <div class="main">


        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-3">Book Details</h1>
            <a class="btn btn-outline-warning" href="/books">Back to Books</a>
        </div>

        <div class="border-warning shadow bookCard p-3">
            <div class="d-flex gap-2 align-items-center">
                <h2>@book.BookTitle</h2>
                <h2>(@book.PublishedYear)</h2>
            </div>
            <p><span class="text-warning">@book.Author</span> - @book.Genre</p>

            <p>@book.Description</p>
            <p><span class="text-warning">Posted by</span> @book.ReaderUsername</p>

            <div class="d-flex align-items-center">
                @if (Context.Session.GetInt32("userId") == book.UserId)
                {
                    <p class="mb-0"> <a class="btn text-warning-emphasis p-0" href="/books/@book.Id/edit">Edit</a> </p>

                    <p class="mb-0"> <a class="btn text-danger-emphasis" href="/books/@book.Id/delete">Delete</a>
                    </p>
                }
            </div>
        </div>

        <ul class="list-group list-group-flush">
            @foreach (var comment in book.Comments)
            {
                <li class="list-group-item shadow rounded bookCard mt-2 d-flex"
                    style="font-size:1.25rem; position:relative;">

                    <div style="position:absolute; right:0; top:5px;" class="d-flex align-items-center">
                        @if (Context.Session.GetInt32("userId") == comment.UserId)
                        {
                            <form asp-action="DeleteComment" asp-controller="Book" asp-route-id="@comment.Id"
                                asp-route-bookId=@comment.BookId method="post">
                                <input type="hidden" asp-for="@comment.BookId" value="@comment.BookId">
                                <button class="btn" type="submit"><i class="bi bi-x-lg"></i></button>
                            </form>
                        }
                    </div>

                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="bi bi-person-circle text-warning"></i>
                            <p style="text-decoration:underline; font-size:1.35rem" class="text-warning mb-1">
                                @comment.CommentedBy
                            </p>
                        </div>
                        <p style="font-size:1rem">@comment.CommentContext</p>
                    </div>

                </li>
            }
        </ul>

    </div>
    <div class="aside">
        @await Html.PartialAsync("_CommentForm", book.CommentFormViewModel)
    </div>
</div>